  .CTA-narrow {
    background-color: #f2f2f2;
    height: 240px;
    position: relative;
    width: 1440px;
  }
  
  .CTA-narrow .group {
    height: 90px;
    left: 235px;
    position: absolute;
    top: 75px;
    width: 311px;
  }
  
  .CTA-narrow .title {
    color: #000000;
    font-family: "Roboto", Helvetica;
    font-size: 32px;
    font-weight: 700;
    left: 0;
    letter-spacing: 0;
    line-height: 45px;
    position: absolute;
    top: 0;
    white-space: nowrap;
  }
  
  .CTA-narrow .p {
    color: #000000;
    font-family: "Roboto", Helvetica;
    font-size: 32px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: 45px;
    position: absolute;
    top: 45px;
    white-space: nowrap;
  }
  






  
  .feature-list-right {
    background-color: #f2f2f2;
    height: 20%;
    position: relative;
    width: 100%;
  }
  
  .feature-list-right .media {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #000000;
    border-radius: 8px;
    height: 100px;
    left: 240px;
    position: relative;
    top: 0;
    width: 100px;
  }
  
  .feature-list-right .content {
    height: 10.5%;
    left: 799px;
    position: relative;
    top: 143px;
    width: 32%;
  }
  
  .feature-list-right .subtitle {
    color: #000000;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 35px;
    letter-spacing: 0;
    line-height: 28.1px;
    position: relative;
    top: 53px;
    width: 29%;
  }
  
  .feature-list-right .title {
    color: #000000;
    font-family: "Roboto-Bold", Helvetica;
    font-size: 20px;
    font-weight: 700;
    left: 32px;
    letter-spacing: 0;
    line-height: 28.1px;
    position: relative;
    top: 0;
    white-space: nowrap;
  }
  
  .feature-list-right .list {
    height: 4.5%;
    left: 0;
    position: relative;
    top: 180px;
    width: 13.4%;
  }
  
  .feature-list-right .list-item {
    height: 1%;
    left: 0;
    position: relative;
    top: 0;
    width: 13.5%;
  }
  
  .feature-list-right .list-item-text {
    color: #000000;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 35px;
    letter-spacing: 0;
    line-height: 28.1px;
    position: relative;
    top: 0;
    white-space: nowrap;
  }
  
  .feature-list-right .ellipse {
    background-color: #000000;
    border-radius: 5px;
    height: 0.3%;
    left: 0;
    position: relative;
    top: 8px;
    width: 0.7%;
  }
  
  .feature-list-right .div {
    height: 1%;
    left: 0;
    position: relative;
    top: 53px;
    width: 13.5%;
  }
  
  .feature-list-right .text-wrapper {
    color: #000000;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 35px;
    letter-spacing: 0;
    line-height: 28.1px;
    position: relative;
    top: 0;
    white-space: nowrap;
  }
  
  .feature-list-right .ellipse-2 {
    background-color: #000000;
    border-radius: 5px;
    height: 0.3%;
    left: 0;
    position: relative;
    top: 8px;
    width: 0.7%;
  }
  
  .feature-list-right .list-item-2 {
    height: 1%;
    left: 0;
    position: relative;
    top: 106px;
    width: 13.5%;
  }
  
  .feature-list-right .list-item-text-2 {
    color: #000000;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 35px;
    letter-spacing: 0;
    line-height: 28.1px;
    position: relative;
    top: 0;
    white-space: nowrap;
  }
  
  .feature-list-right .ellipse-3 {
    background-color: #000000;
    border-radius: 5px;
    height: 0.3%;
    left: 0;
    position: relative;
    top: 8px;
    width: 0.7%;
  }

  .box {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .box .group-wrapper {
    border: 0px none;
    height: 44px;
    position: relative;
    width: 126px;
  }
  
  .box .group-1 {
    left: 0 !important;
    position: fixed !important;
    top: 0 !important;
  }

  .group {
    background: radial-gradient(50% 50% at 50% 50%, rgb(217.57, 101.72, 219.94) 0%, rgba(16.49, 73.22, 158.31, 0.6) 100%);
    border-radius: 60px;
    height: 44px;
    position: relative;
    width: 126px;
  }
  
  .group .sign-up {
    color: #ffffff;
    font-family: "Lato", Helvetica;
    font-size: 14px;
    font-weight: 700;
    left: 33px;
    letter-spacing: 0.7px;
    line-height: 14px;
    position: absolute;
    top: 14px;
    white-space: nowrap;
  }

 

  .avatarBackground {
    background-color: '#fdd4d4';
    border-radius: 67.5px;
    height: 135px;
    width: auto;
    position: relative;
  }
  
  
  .avatarPic {
    border-radius: 65px;
    height: 125px;
    width: 125px;
    left: 5px;
    top: 5px;
    position: relative;
    display: flex;
  }
  .star {
    height: 80px;
    left: 0;
    position: relative;
    top: 0;
    width: 82px;
  }
  